html,
body {
  background: #fafafa;
}

.picture {
  height: 39vh;
  object-fit: cover;
  max-width: 17vw;
}

.App-header {
  background: #be3128;
  color: white;
  text-align: center;
}

.information-divider {
  margin: 5vh;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2vw;
}

.info-border {
  border: 2px solid black;
}

.closed,
.open {
  height: 3vh;
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.open {
  background: lightgreen;
  border: 2px solid darkgreen;
}

.closed {
  background: lightcoral;
  border: 2px solid darkred;
}

.store {
  margin-bottom: 3vh;
}

.next-result {
  margin: 0 5vw;
}

.map-container > div {
  max-height: 33%;
}

.map {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
